<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Register Here</h2>
	
	<div th:if="${successMsg}">
		<h3 style="color:green;" th:text="${successMsg}"></h3>
	</div>
	<div th:if="${errorMsg}">
		<h3 style="color:red;" th:text="${errorMsg}"></h3>
	</div>
	
	<form th:action="@{/regFrom}" th:object="${user}" method="post">
		Name:<input type="text" th:field="*{name}"/><br/><br/>
		Email Id:<input type="text" th:field="*{email}"/><br/><br/>
		Password:<input type="password" th:field="*{password}"/><br/><br/>
		Phone No:<input type="text" th:field="*{phoneno}"/><br/><br/>
		
		<input type="submit" value="Register"/>

	</form>
</body>
</html>